pandas==1.5.2
dash==3.0.0
dash_html_components==2.1.0
dash_core_components==2.1.0
dash_bootstrap_components==1.4.0
statsmodels==0.13.2
plotly==5.7.0
numpy==1.23.1
geopandas==0.10.2
scikit_learn==1.1.2
gunicorn>=19.7.1
